.footer {
    background-color: #ffffff; /* Light grey background */
    color: #333; /* Dark grey text */
    margin-top: 40px;
    padding: 20px; /* Padding around the footer */
    text-align: center; /* Center-align the text and content */
  }
  
  .footer-links {
    margin-top: 50px;
    margin-bottom: 20px; /* Space between links and the logo */
    display: flex;
    justify-content: space-around; /* Evenly space the links across the width */
  }
  
  .footer-logo img {
    width: 80px; /* Set the logo size */
    height: auto; /* Maintain aspect ratio */
    margin: auto; /* Center the logo */
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between; /* Space between text and social links */
    align-items: center;
    font-size: 0.9rem; /* Smaller font size for bottom text and links */
  }
  
  .social-links a {
    margin: 0 5px; /* Space between icons */
    color: black; /* Icons color */
    font-size: 24px; /* Icon size */
  }
  
  .social-links i {
    /* Assuming using FontAwesome, class names will differ based on the icon library */
  }
  
  /* Media query for responsiveness */
  @media (max-width: 600px) {
    .footer-links, .footer-bottom {
      flex-direction: column;
    }
    .social-links {
      margin-top: 10px;
    }
  }
  